*.pyc
Client/*
OpenBench/migrations/*

credentials
credentials.*
# db/   See .gitignore inside of it

Scripts/Engines/*
Scripts/Networks/*

Media/*

.env*

staticfiles/
mediafiles/

certs/

!Client/*.py
!Client/cutechess-ob
!Client/cutechess-ob.exe

Media/PGNs/*
Media/Networks/*
Media/Events/*
